body {
  background-image: url(../img/AdobeStock_317396428.jpeg);
  background-size: 1920px 1080px;
  overflow: scroll;
}

.small {
  width: 200px;
}

.medium {
  width: 800px;
}

.mcimg {
  width: 400px;
}

.jumbotron {
  text-align: center;
  background-image: linear-gradient(to right top, #d1c700, #f09210, #f55941, #dc276a, #a4218a, #8b248c, #71278b, #542989, #6e1d7c, #810f6d, #8d025d, #95014d);
}

#respone1 {
  display: none;
  text-align: center;
  background-color: blanchedalmond;
}

#respone2 {
  display: none;
  text-align: center;
  background-color: blanchedalmond;
}

#respone3 {
  display: none;
  text-align: center;
  background-color: blanchedalmond;
}

#respone4 {
  display: none;
  text-align: center;
  background-color: blanchedalmond;
}

#respone5 {
  display: none;
  text-align: center;
  background-color: blanchedalmond;
}

.box {
  background-color: blanchedalmond;
}

.box2 {
  background-color: blanchedalmond;
  text-align: center;
}