body {
  background-image: url(../img/AdobeStock_317396428.jpeg);
  background-size: 1920px 1080px;
  overflow: scroll;
}

img {
  border-radius: 10px;
}
.btn {
  display: inline-block

}

.side {
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
text-shadow: 2px 2px 5px whitesmoke;
background-color: teal;
border-radius: 5px;
}

.small {
  width: 200px;
}

#links {
  
}

.medium {
  width: 800px;
}

.mcimg {
  width: 400px;
}

.jumbotron {
  text-align: center;
  background-image: linear-gradient(to right top, #d1c700, #f09210, #f55941, #dc276a, #a4218a, #8b248c, #71278b, #542989, #6e1d7c, #810f6d, #8d025d, #95014d);
}

#respone1 {
  display: none;
  text-align: center;
  background-color: blanchedalmond;
  border-radius: 10px;
}

#respone2 {
  display: none;
  text-align: center;
  background-color: blanchedalmond;
  border-radius: 10px;
}

#respone3 {
  display: none;
  text-align: center;
  background-color: blanchedalmond;
  border-radius: 10px;
}

#respone4 {
  display: none;
  text-align: center;
  background-color: blanchedalmond;
  border-radius: 10px;
}

#respone5 {
  display: none;
  text-align: center;
  background-color: blanchedalmond;
  border-radius: 10px;
}

#respone6 {
  display: none;
  text-align: center;
  background-color: blanchedalmond;
  border-radius: 10px;
}

.notqs {
  background-color: blanchedalmond;
  text-align: center;
  float: right;
  border-radius: 10px;
  width: fit-content;
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 800;
  font-style: normal;
  font-variant: small-caps;
}

.qs {
  background-color: blanchedalmond;
  border-radius: 10px;
}

.box2 {
  background-color: blanchedalmond;
  text-align: center;
}